* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 991px) {
}

@media screen and (min-width: 992px) {
  .App-container {
    background-color: #fffff0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
}
